@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body {
  font-family: "Space Mono", monospace;
}

.CircularProgressbar .CircularProgressbar-text {
  /* font-size: 1rem; */
  /* dominant-baseline: middle; */
  /* text-anchor: middle; */
  /* fill: "#606A7B" !important; */

  font-weight: 600;
}

.agrupacion {
  background-color: #623e90 !important;
  height: 32px;
  color: #fff !important;
  font-size: 1.8rem;
  font-weight: 700;
}

.iniciativas {
  background-color: #623e90 !important;
  height: 32px;
  color: #fff !important;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
}

.headerTabla {
  background-color: #623e90 !important;
  color: #fff !important;
  font-weight: 600;
  font-size: 0.9rem;
}

.custom-table-header {
  border-bottom: 5px solid #fff; /* Añade un borde sólido al final del encabezado */
  display: none !important
  ;
}

/* .react-bootstrap-table .row-expand-slide-exit-active {
  transition: opacity 0.8s ease;
  opacity: 0;
}
.react-bootstrap-table .row-expand-slide-appear-active {
  transition: opacity 0.5s ease;
  opacity: 1;
} */

.row-expansion-style {
  padding: 0px !important;
}

.row-expand-slide-appear-active {
  max-height: 1000px;
  transition: max-height 1s linear !important;
}

.encabezadoModal {
  background: linear-gradient(#873f70, #963e66);
}
